:root {
  --first-color: #0046ff;
  --second-color: #00a2ff;
  --third-color: #ad66fe;
  --timer-seconds: 14s;
}


body {
  margin: 0;
  font-family: "Tomorrow", Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--first-color);
  min-height: 10svh;
  width: 100%;
  animation: background-animation var(--timer-seconds) infinite;
}

header>h1 {
  color: white;
  font-size: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2em;
}

nav>a {
  color: white;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

main {
  min-height: 100svh;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  flex-wrap: wrap;
  gap: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

article {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.box-paragraph {
  max-width: 40rem;
}

.profile-picture {
  max-height: 50svh;
  max-width: 50svw;
  border-radius: 3%;
  object-fit: cover;
  margin-left: 3rem;
  box-shadow: -30px -20px white;
}

/* class for images designed to be placed on the side of a box of text within a section*/
.side-picture {
  height: 50svh;
  max-width: 50svw;
  border-radius: 3%;
  object-fit: cover;
  box-shadow: 80px -20px white;
  animation: box-shadow-animation var(--timer-seconds) infinite;
}

.blog-picture {
  width: 50svw;
}

.nav-item {
  transition: 0.3s;
  position: relative;
}

.nav-item:hover {
  transform: translateY(-5px);
}

.nav-item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -5px;
  pointer-events: none;
  transition: 0.3s;
}

.nav-item:hover::after {
  opacity: 1;
}

#landing-section {
  min-height: 90svh;
  gap: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  flex-wrap: nowrap;
}

#contact-section {
  align-items: center;
  gap: 5rem;
}

.call-to-action {
  font-size: 2.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colorful-background {
  background-color: var(--first-color);
  animation: background-animation var(--timer-seconds) infinite;
}

.copyright-text {
  margin: 0
}

.landing-greeting {
  font-size: 2.5rem;
  line-height: 5rem;
  max-width: 40rem;
}

.colorful-text {
  color: var(--first-color);
  animation: text-color-animation var(--timer-seconds) infinite;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}



.qualification-logo {
  width: 30svh;
  border-radius: 25%;
}

.qualification-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  border-color: white;
  border-width: 0.1rem;
  border-radius: 5%;
  padding: 1rem;
}


.white-text {
  color: white;
}


.resume-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  padding: 0.5rem;
  border: solid;
  border-width: 0.1rem;
  border-radius: 5%;
  border-color: var(--third-color);
  margin-top: 4rem;
  color: var(--third-color);
  text-decoration: none;
  transition: 0.5s;
}

.resume-link:hover {
  transform: translate(1rem);
}

.social-icon {
  width: 4rem;
  transition: 0.5s;
}

.social-icon:hover {
  transform: translateY(-0.5rem);
}

@keyframes background-animation {
  0% {
    background-color: var(--first-color);
  }

  33% {
    background-color: var(--second-color);
  }

  66% {
    background-color: var(--third-color);
  }

  100% {
    background-color: var(--first-color);
  }
}

@keyframes text-color-animation {
  0% {
    color: var(--first-color);
  }

  33% {
    color: var(--second-color);
  }

  66% {
    color: var(--third-color);
  }

  100% {
    color: var(--first-color);
  }
}

@keyframes box-shadow-animation {
  0% {
    box-shadow: 60px -16px var(--first-color);
  }

  33% {
    box-shadow: 60px -16px var(--second-color);
  }

  66% {
    box-shadow: 60px -16px var(--third-color);
  }

  100% {
    box-shadow: 60px -16px var(--first-color);
  }
}


/* this section of CSS for tablet and mobile viewports. 
With the exception of the landing section and one image that is hidden in the 'experience' page when in mobille view, the rest
of the website relies only on flexbox for responsiveness
*/

@media screen and (max-width: 1114px) {


  .landing-greeting {
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 2rem 3rem 3rem;
  }

  #landing-section {
    gap: 0;
    flex-direction: column;
  }

  .profile-picture {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {

  article {
    align-items: center;
  }

  .contact-picture {
    width: 30svh;

  }

  .header-title {
    display: none;
  }


  .landing-greeting {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem 0.5rem 0.5rem;
  }

  #experience-picture {
    display: none;
  }


}