:root {
    --main-color: #112D4E;
}

body {
    margin: 0;
    font-family: verdana;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-color);
    padding-top: 1.5%;
    padding-bottom: 1.5%;


}

header>h1 {
    margin: 0;
    color: white;
    font-size: 1rem;
}

nav {
    display: flex;
    justify-content: center;

}

nav>a {
    color: white;
    text-decoration: none;
    margin-right: 5%;
    font-size: 0.9rem;
    padding-right: 10%;

}

.landing-page {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width:30%;
    height: 30%;
    border-radius:25%;
}